<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-toolbar>
      <h2>Menu</h2>
    </mat-toolbar>
    <mat-nav-list>
      <a routerLink="./listado" mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>label</mat-icon>
        Listado de Personajes
      </a>
      <a routerLink="./agregar" mat-list-item (click)="sidenav.toggle()">
        <mat-icon matListItemIcon>add</mat-icon>
        Agregar
      </a><a routerLink="./buscar" mat-list-item (click)="sidenav.toggle()">
      <mat-icon matListItemIcon>search</mat-icon>
      Buscar
    </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar class="spacer">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <div style="display: flex; align-items: center;">
      <span>{{ auth.usuario }}</span>
      <button
        mat-icon-button
        color="warn"
        (click)="logout()">
        <mat-icon>logout</mat-icon>
      </button>
    </div>

  </mat-toolbar>

  <!--  Inyectar el contenido de las rutas hijas -->
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
